@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 97%; /* #F0F0F8 */
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 240 50% 60%; /* #6666CC */
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 300 20% 53%; /* #996699 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 85%;
    --input: 240 6% 85%;
    --ring: 240 50% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 4%;
    --sidebar-foreground: 240 5% 65%;
    --sidebar-primary: 240 50% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 240 50% 60%;
  }
  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 5% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 50% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 300 20% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 240 50% 60%;
    --sidebar-background: 240 10% 4%;
    --sidebar-foreground: 240 5% 65%;
    --sidebar-primary: 240 50% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 5% 15%;
    --sidebar-ring: 240 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
